<div class="row">
    <div class="col-12">
        <form [formGroup]="felkeresForm">
            <table style="width: 100%;">
                <tr>
                    <th> Azanosító </th>
                    <th> Felhasználónév </th>
                    <th> Személyigazolványszám </th>
                </tr>
                <tr>
                    <th > <input style="width: 70%;" type="text" class="form-control" name="idd" id="idd" formControlName="idd"> </th>
                    <th> <input style="width: 70%;" type="text" class="form-control" id="usern" formControlName="usern"> </th>
                    <th> <input style="width: 70%;" type="text" class="form-control" id="szemsz" formControlName="szemsz"> </th>
                </tr>
                <tr>
                    <th> <button class="btn btn-outline-primary" (click)="serchId()"> Keresés </button> </th>
                    <th> <button class="btn btn-outline-primary" (click)="serchUsername()"> Keresés </button> </th>
                    <th> <button class="btn btn-outline-primary" (click)="serchSzemszam()"> Keresés </button> </th>
                </tr>
            </table>
        </form>
    </div>
</div>

<br>
<br>

<div class="row">
    <form [formGroup]="userlistForm">
        <label class="form-label">id</label>
        <input type="text" class="form-control" formControlName="id">
        <label class="form-label">firstName</label>
        <input type="text" class="form-control" formControlName="firstName">
        <label class="form-label">lastName</label>
        <input type="text" class="form-control" formControlName="lastName">
        <label class="form-label">username</label>
        <input type="text" class="form-control" formControlName="username">
        <label class="form-label">email</label>
        <input type="text" class="form-control" formControlName="email">
        <label class="form-label">telszam</label>
        <input type="text" class="form-control" formControlName="telszam">
        <label class="form-label">szemszam</label>
        <input type="text" class="form-control" formControlName="szemszam">
        <label class="form-label">lakcim</label>
        <input type="text" class="form-control" formControlName="lakcim">
    </form>
</div>
