<div class="row div-align">
    <h4> <b> DVD </b> </h4>
</div>

<div class="row">
    <div class="col-3 mb-5 div-align" *ngFor="let dvd of dvds">
        <div>
            <span class="badge bg-success " *ngIf="hit.isLoggedIn()"> {{dvd.id}} </span>
        </div>
        <img [src]="dvd.imgUrl" class="dvd-image" />
        <div>
            <h5> {{dvd.title}} </h5>
            <span class="badge bg-success " *ngIf="hit.isLoggedIn()"> {{dvd.status}} </span>
        </div>
        <div class="row pb-1">
            <div class="col-6 div-align pb-1" *ngIf="hit.isLoggedIn() && hit.isAdmin()">
                <button class="btn btn-sm btn-outline-primary" (click)="editMovie(dvd.id)" > Szerkeztés </button>
            </div>
            <div class="col-6 div-align pb-1" *ngIf="hit.isLoggedIn() && hit.isAdmin()">
                <button class="btn btn-sm btn-outline-primary" (click)="vissahoz(dvd.id)" > Viszahoz </button>
            </div>
        </div>
    </div>
</div>