<div class="row">
    <div class="col-12">
        <table style="width: 100%;">
            <tr class="row">
                <th class="col-2 set"> Felhasználónév </th>
                <th class="col-2 set"> Szerepkör </th>
                <th></th>
            </tr>
            <tr *ngFor="let fel of fellist">
                <div class="row" *ngIf="fel.status === 1">
                    <th class="set col-2"> {{ fel.username }} </th>
                    <th class="set col-2"> {{ fel.role }} </th>
                    <th class="col-1"> <button class="btn btn-sm btn-outline-primary" (click)="mouveEdit(fel.id)"> Módosítás </button> </th>
                    <th class="col-1"> <button class="btn btn-sm btn-outline-danger" (click)="userTorle(fel.id)"> Törlés </button> </th>
                    <th class="col-2"> <button class="btn btn-sm btn-outline-primary" (click)="dvdKolcsonzes(fel.id)"> Dvd Kölcsönzés </button> </th>
                    <th class="col-2"> <button class="btn btn-sm btn-outline-primary" (click)="kazetaKolcsonzes(fel.id)"> Kazeta Kölcsönzés </button> </th>
                </div>
            </tr>
        </table>
    </div>
</div>

<div class="row col-1 mb-5 div-align" *ngIf="dvdKolcsonzosSetVisible">
    Dvd id:
    <form [formGroup]="dvdkolcsonzesForm">
        <input type="number" class="form-control" id="dvdId" formControlName="dvdId">
    </form>
    <button class="btn btn-sm btn-outline-primary" (click)="dvdRogzit()"> Rőgzít </button>
    <button class="btn btn-sm btn-outline-danger" (click)="megse()"> Mégse </button>
</div>

<div class="row col-1 mb-5 div-align" *ngIf="kazetaKolcsonzosSetVisible">
    Kazeta id:
    <form [formGroup]="kazetakolcsonzesForm">
        <input type="number" class="form-control" id="kazetaId" formControlName="kazetaId">
    </form>
    <button class="btn btn-sm btn-outline-primary" (click)="kazetaRogzit()"> Rőgzít </button>
    <button class="btn btn-sm btn-outline-danger" (click)="megse()"> Mégse </button>
</div>