<div class="row div-align">
    <h4> <b> Kazeták </b> </h4>
</div>

<div class="row">
    <div class="col-3 mb-5 div-align" *ngFor="let kazeta of kazetaks">
        <div>
            <span class="badge bg-success " *ngIf="hit.isLoggedIn()"> {{kazeta.id}} </span>
        </div>
        <img [src]="kazeta.imgUrl" class="dvd-image" />
        <div>
            <h5> {{kazeta.title}} </h5>
            <span class="badge bg-success " *ngIf="hit.isLoggedIn()"> {{kazeta.status}} </span>
        </div>
        <div class="row pb-1">
            <div class="col-6" *ngIf="hit.isLoggedIn() && hit.isAdmin()" >
                <button class="btn btn-sm btn-outline-primary" (click)="editMovie(kazeta.id)" >Szerkeztés</button>
            </div>
            <div class="col-6 div-align pb-1" *ngIf="hit.isLoggedIn() && hit.isAdmin()">
                <button class="btn btn-sm btn-outline-primary" (click)="vissahoz(kazeta.id)" > Viszahoz </button>
            </div>
        </div>
    </div>
</div>
