<div class="row div-align">
    <h4> <b> Új film rögzítése </b> </h4>
</div>

<div class="row mb-5">
    <div class="col-12 div-align">
        <button class="btn btn-danger me-3" (click)="setDvdVisible()"> DVD </button>
        <button class="btn btn-danger" (click)="setKazetakVisible()"> Kazeták </button>
    </div>
</div>

<!--###############################################################################################################-->

<div class="row justify-content-md-center mb-5" *ngIf="dvdVisible">
    <div class="col-6">
        <h4> <p style="text-align: center;"> <b> DVD </b> </p> </h4>
        <form [formGroup]="dvdForm">
            <div class="mb-3">
                <label for="title" clsss="form-lable"> Cím </label>
                <input type="text" class="form-control" id="title" name="title" formControlName="title">
            </div>
            <div class="mb-3">
                <label for="date" clsss="form-lable"> Beszerzés dátuma </label>
                <input type="text" class="form-control" id="date" name="date" formControlName="date">
            </div>

            <!--
            <div class="mb-3">
                <label for="status" class="form-lable"> Státusz </label>
                <select class="form-select" id="status" multiple formControlName="status">
                    <option [ngValue]="{ id: allapots.id }" *ngFor="let allapots of allapot"> {{ allapots.status }} </option>
                </select>
            </div>
            -->

            <div class="mb-3">
                <label for="status" clsss="form-lable"> Státusz </label>
                <input type="text" class="form-control" id="status" name="status" formControlName="status">
            </div>

            <!--
            <div class="mb-3">
                <label for="status" clsss="form-lable"> Státusz </label>
                <select class="form-select" name="status" id="status" formControlName="status" [compareWith]="osszehasonlito" >
                    <option *ngFor="let allapot of alapots" [ngValue]="{ id: allapot.id }"> {{ allapot.name }} </option>
                </select>
            </div>
            -->
            <div class="md-3">
                <label for="imgUrl" clsss="form-lable"> Kép Url-je </label>
                <input type="text" class="form-control" id="imgUrl" name="date" formControlName="imgUrl">
            </div>
            <div class="text-end md-5">
                <button class="btn btn-outline-primary" (click)="saveDvdMovie()" > Mentés </button>
            </div>
        </form>
    </div>
</div>

<!--###############################################################################################################-->

<div class="row justify-content-md-center mb-5" *ngIf="kazetaVisible">
    <div class="col-6">
        <h4> <p style="text-align: center;"> <b> Kazeták </b> </p> </h4>
        <form [formGroup]="kazetaForm">
            <div class="mb-3">
                <label for="title" clsss="form-lable"> Cím </label>
                <input type="text" class="form-control" id="title" name="title" formControlName="title">
            </div>
            <div class="mb-3">
                <label for="date" clsss="form-lable"> Beszerzés dátuma </label>
                <input type="text" class="form-control" id="date" name="date" formControlName="date">
            </div>
    
            <div class="mb-3">
                <label for="status" clsss="form-lable"> Státusz </label>
                <input type="text" class="form-control" id="status" name="status" formControlName="status">
            </div>
            
            <!--
            <div class="mb-3">
                <label for="status" clsss="form-lable"> Státusz </label>
                <select class="form-select" name="status" id="status" formControlName="status" [compareWith]="osszehasonlito" >
                    <option *ngFor="let allapot of alapots" [ngValue]="{ id: allapot.id }"> {{ allapot.name }} </option>
                </select>
            </div>
            -->
            
            <div class="md-3">
                <label for="imgUrl" clsss="form-lable"> Kép Url-je </label>
                <input type="text" class="form-control" id="imgUrl" name="date" formControlName="imgUrl">
            </div>
            <div class="text-end md-5">
                <button class="btn btn-outline-primary" (click)="saveKazetaMovie()" > Mentés </button>
            </div>
        </form>
    </div>
</div>